<div class="about flex flex-column align-items-center">
  <h1 class="about__title">About</h1>
  <p class="about__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quae, autem
    architecto quaerat sint eos eligendi totam, rem repudiandae beatae est enim
    nostrum in! Suscipit eum sunt quaerat quos dicta. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Laboriosam necessitatibus fugiat,
    eveniet veritatis eaque voluptate voluptas animi laudantium illo quisquam
    iste enim nobis quo consequuntur reprehenderit dignissimos vel ipsum dolores
    ipsam modi porro fugit amet?
    <br />
    Explicabo provident eos enim, beatae dolorem, a, unde hic eligendi et
    dolores impedit magni maiores error ipsum sed perspiciatis! Labore iste
    maiores doloribus explicabo exercitationem ipsa est temporibus esse porro
    mollitia eaque voluptatum amet aliquam obcaecati fugit, reiciendis a
    voluptatibus blanditiis autem, id quisquam deserunt. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Minus numquam veritatis ipsa soluta nobis
    nostrum itaque dolor, deserunt magnam vel ut, eos iure atque perferendis
    molestias ex minima! Voluptatem ex sed velit. Eaque magnam officia, in fugit
    esse eos minus molestiae sint veniam assumenda velit minima, quo iusto ut
    aspernatur quod eum amet libero!
    <br />
    Recusandae tempore vitae, error incidunt libero hic mollitia in officiis
    consectetur beatae aliquam blanditiis quos modi quod cumque et culpa maxime
    nemo voluptatibus nobis. Ipsa quam, aperiam doloribus, animi maxime esse
    nostrum iure dignissimos deserunt explicabo ut inventore a nulla cupiditate
    neque. Obcaecati nisi repellat magni placeat culpa aliquid quae repellendus
    doloremque perferendis quo minima iure illo sequi, consequatur voluptatum ex
    ipsum inventore laudantium explicabo dolorem, quos totam quod laboriosam?
    Ipsam, odio reprehenderit!
    <br />
    Similique magni blanditiis dolore iste dignissimos dolores, repudiandae,
    animi exercitationem expedita sapiente asperiores deserunt, laborum eaque
    tempore nulla ad ea magnam ab hic ipsum aperiam debitis id doloremque qui?
    Incidunt fuga eos maxime expedita! Magnam voluptates sunt iste, labore
    accusamus saepe praesentium odit maiores, vitae, corporis et neque. Quis eum
    perferendis veniam recusandae deserunt nisi, perspiciatis pariatur omnis
    velit. Magni quibusdam repudiandae commodi, aut qui ex? Ducimus possimus
    officia laboriosam quas, aperiam provident!
  </p>
  <a mat-flat-button routerLink="/">Go back</a>
</div>
