<form class="form__container" (ngSubmit)="onSubmit()">
  <div class="form__control">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" />
  </div>

  <div class="form__control">
    <label for="from">From</label>
    <input type="text" id="from" name="from" [(ngModel)]="from" />
  </div>

  <div class="form__control">
    <label for="to">To</label>
    <input type="text" id="to" name="to" [(ngModel)]="to" />
  </div>

  <div class="form__control">
    <label for="price">Price</label>
    <input type="number" id="price" name="price" [(ngModel)]="price" />
  </div>

  <div class="form__control">
    <label for="numOfPpl">Number of People</label>
    <input type="number" id="numOfPpl" name="numOfPpl" [(ngModel)]="numOfPpl" />
  </div>

  <div class="form__control">
    <label for="notes">Notes</label>
    <input type="text" id="notes" name="notes" [(ngModel)]="notes" />
  </div>

  <input type="submit" value="Save activity" class="btn btn-block" />
</form>
