.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: wrap;
  height: 100%;
  min-height: 30rem;
  margin: 0 5%;
}

.form__control {
  margin: 1rem 0;
}

.form__control label {
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 2.4rem;
}

.form__control input {
  width: 100%;
  height: 3rem;
  margin: 3px;
  padding: 2px 7px;
  font-size: 1.7rem;
}

.form__control input::placeholder {
  font-style: italic;
}
