<!-- <form
  *ngIf="showActivityForm"
  class="form__container"
  (ngSubmit)="isEditingExistingActivity ? onSubmitEdited() : onSubmit()"
>
  <div class="form__control">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="name"
      maxlength="30"
      placeholder="Required..."
    />
  </div>

  <div class="form__control">
    <label for="from">From</label>
    <input
      type="text"
      id="from"
      name="from"
      [(ngModel)]="from"
      placeholder="Optional..."
    />
  </div>

  <div class="form__control">
    <label for="to">To</label>
    <input
      type="text"
      id="to"
      name="to"
      [(ngModel)]="to"
      placeholder="Optional..."
    />
  </div>

  <div class="form__control">
    <label for="price">Price</label>
    <input
      type="number"
      id="price"
      name="price"
      [(ngModel)]="price"
      min="0"
      max="1000000"
    />
  </div>

  <div class="form__control">
    <label for="numOfPpl">Number of People</label>
    <input
      type="number"
      id="numOfPpl"
      name="numOfPpl"
      [(ngModel)]="numOfPpl"
      min="1"
      max="1000"
    />
  </div>

  <div class="form__control">
    <label for="notes">Notes</label>
    <input
      type="text"
      id="notes"
      name="notes"
      [(ngModel)]="notes"
      placeholder="Optional..."
    />
  </div>

  <input type="submit" value="Save activity" class="btn btn-block" />
</form> -->
<h2 mat-dialog-title>Activity Form</h2>
<form
  mat-dialog-content
  (ngSubmit)="isEditingExistingActivity ? onSubmitEdited() : onSubmit()"
>
  <mat-dialog-content>Hi {{ data.name }}</mat-dialog-content>
  <!-- <mat-form-field>
    <input
      matInput
      placeholder="Name"
      [(ngModel)]="name"
      name="name"
      maxlength="30"
      placeholder="Required..."
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="From"
      [(ngModel)]="from"
      name="from"
      placeholder="Optional..."
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="To"
      [(ngModel)]="to"
      name="to"
      placeholder="Optional..."
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Price"
      [(ngModel)]="price"
      name="price"
      min="0"
      max="1000000"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Number of People"
      [(ngModel)]="numOfPpl"
      name="numOfPpl"
      min="1"
      max="1000"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Notes"
      [(ngModel)]="notes"
      name="notes"
      placeholder="Optional..."
    />
  </mat-form-field> -->
  <mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="false">Cancel</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Save</button>
  </mat-dialog-actions>
</form>
