.card-container {
  height: 25rem;
  width: 100%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__title {
  margin-bottom: 5px;
}

.card__text-wrapper {
  margin-bottom: 5px;
}

.card__text--notes {
  word-break: break-all;
}

.mat-mdc-card-content {
  width: 100%;
}

.mdc-card__actions {
  width: 100%;
}

@media screen and (max-width: 870px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .card-container {
    padding: 0;
  }
}
