<article class="activity__card">
  <h2 class="activity__name">{{ activity.name }}</h2>
  <div class="activity__item">
    <p class="activity__item--text">From</p>
    <p class="activity__item--text">{{ activity.from }}</p>
  </div>
  <div class="activity__item">
    <p class="activity__item--text">To</p>
    <p class="activity__item--text">{{ activity.to }}</p>
  </div>
  <div class="activity__item">
    <p class="activity__item--text">Price</p>
    <p class="activity__item--text">{{ activity.price }}</p>
  </div>
  <div class="activity__item">
    <p class="activity__item--text">People</p>
    <p class="activity__item--text">{{ activity.numOfPpl }}</p>
  </div>
  <div class="activity__item">
    <p class="activity__item--text">Notes</p>
    <p class="activity__item--text">{{ activity.notes }}</p>
  </div>
</article>
